{
  "root": true,
  "extends": ["react-app", "prettier"],
  "plugins": ["eslint-plugin-prettier", "eslint-plugin-simple-import-sort"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
